:root{
  --app-gradient : linear-gradient(
    180deg, #0f0137 0%, #02040e 17%);
}
*, *::before, *::after{
box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,p,figure,blockquote,dl,dd{
  margin: 0;
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: inherit;
}
p{
  font-size: 1.2rem;
}

.mobile-no-scroll{
  overflow-y: hidden;

}

@media screen and (min-width: 940px){
  .mobile-no-scroll{
    overflow-y: visible;
  }
}

.vertical-timeline-element-icon{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.vertical-timeline-element-content:hover {
  transition: .3s ease-in-out filter;
  filter: brightness(0.9);
}

.timeline-heading{
  margin: 3rem 0 2rem;
  text-align: center;
}